:host {
  display: block;
  border: 1px solid #099fe3;
  background-color: #4A4A4A;
  border-radius: 2px;
  width: fit-content;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  transition: transform .3s ease-in-out;
  .header {
    display: flex;
    align-items: center;
    img {
      width: 2.4em;
      height: 2.4em;
    }
    .info {
      margin-left: 5px;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}