:host {
  display: flex;
  align-items: center;
  justify-content: center;
  
  input {
    position: relative;
    z-index: 2;
    cursor: pointer;
    outline: none;
  }

  .propositions p {
    background-color: white;
    color: #4A4A4A;
    cursor: pointer;
    padding: 5px;
    width: 150px;
    &:hover {
      background-color: #dedede;
      color: #03A9F4;
    }
  }

  .propositions {
    z-index: 3;
    position: absolute;
    max-height: 390px;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    p {
      &::first-letter {
        color: #007EB7;
      }
    }
  }
  .backdrop {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }
}