.title {
  text-align: center;
  padding: 20px;
  background-color: #099fe3;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 20px;
  .mobile {
    display: none;
  }

  @media (max-width: 1150px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}
