<ng-container>
  <div class="column">
    <app-search (search)="search(1, $event)"></app-search>
  
    <div class="container-result" *ngIf="showSearchResults[1]">
      <div *ngFor="let p of players[1]">
        <app-search-result [player]="p" (click)="display(1, p)"></app-search-result>
      </div>
    </div>
  
    <div class="container-player" *ngIf="!showSearchResults[1]">
      <div class="queue-filter filter">
        <label for="queue">Queue :</label>
        <select id="queue" [ngModel]="filter[1].queue" (ngModelChange)="filterQueue(1, $event)">
          <option [value]="null">All</option>
          <option *ngFor="let q of objectKeys(queues)" [value]="q">{{ queues[q] }}</option>
        </select>
      </div>
      <div>
        <app-auto-complete [placeholder]="'God'" [source]="api.gods" [value]="filter[1].god.name" (selectGod)="setGod(1, $event)"></app-auto-complete>
      </div>

      <app-global-info *ngIf="stats[1] && filter[1].queue === 450" [stats]="stats[1]" [matches]="matches[1]"></app-global-info>
  
      <div *ngFor="let m of matches[1]">
        <app-match-result *ngIf="showMatch(1, m)" [match]="m" (display)="display(1, $event)" class="{{ m.winning_team === 1 ? 'win' : 'loose' }}"></app-match-result>
      </div>
    </div>
  </div>
  <div class="column">
    <app-search (search)="search(2, $event)"></app-search>

  
    <div class="container-result" *ngIf="showSearchResults[2]">
      <div *ngFor="let p of players[2]">
        <app-search-result [player]="p" (click)="display(2, p)"></app-search-result>
      </div>
    </div>
  
    <div class="container-player" *ngIf="!showSearchResults[2]">
      <div class="queue-filter filter">
        <label for="queue">Queue :</label>
        <select id="queue" [ngModel]="filter[2].queue" (ngModelChange)="filterQueue(2, $event)">
          <option [value]="null">All</option>
          <option *ngFor="let q of objectKeys(queues)" [value]="q">{{ queues[q] }}</option>
        </select>
      </div>
      <div>
        <app-auto-complete [placeholder]="'God'" [source]="api.gods" [value]="filter[2].god.name" (selectGod)="setGod(2, $event)"></app-auto-complete>
      </div>

      <app-global-info *ngIf="stats[2] && filter[2].queue === 450" [stats]="stats[2]" [matches]="matches[2]"></app-global-info>

      <div *ngFor="let m of matches[2]">
        <app-match-result *ngIf="showMatch(2, m)" [match]="m" (display)="display(2, $event)" class="{{ m.winning_team === 1 ? 'win' : 'loose' }}"></app-match-result>
      </div>
    </div>
  </div>
  <div class="column">
    <app-search (search)="search(3, $event)"></app-search>
  
    <div class="container-result" *ngIf="showSearchResults[3]">
      <div *ngFor="let p of players[3]">
        <app-search-result [player]="p" (click)="display(3, p)"></app-search-result>
      </div>
    </div>
  
    <div class="container-player" *ngIf="!showSearchResults[3]">
      <div class="queue-filter filter">
        <label for="queue">Queue :</label>
        <select id="queue" [ngModel]="filter[3].queue" (ngModelChange)="filterQueue(3, $event)">
          <option [value]="null">All</option>
          <option *ngFor="let q of objectKeys(queues)" [value]="q">{{ queues[q] }}</option>
        </select>
      </div>
      <div>
        <app-auto-complete [placeholder]="'God'" [source]="api.gods" [value]="filter[3].god.name" (selectGod)="setGod(3, $event)"></app-auto-complete>
      </div>

      <app-global-info *ngIf="stats[3] && filter[3].queue === 450" [stats]="stats[3]" [matches]="matches[3]"></app-global-info>
  
      <div *ngFor="let m of matches[3]">
        <app-match-result *ngIf="showMatch(3, m)" [match]="m" (display)="display(3,$event)" class="{{ m.winning_team === 1 ? 'win' : 'loose' }}"></app-match-result>
      </div>
    </div>
  </div>
</ng-container>