:host {
  // display: block;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  // padding: 0 30px;
  margin: auto;

  .column {
    width: 30%;
  }
  .container-result {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    app-search-result {
      margin: 0 10px;
    }
  }

  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    label {
      margin-right: 10px;
    }
  }
}